body{
    display: flex;
    margin: 0;
    overflow-x: hidden;
}

.sidebar{
    position: fixed;
    overflow-x: hidden;
    background-color: #ededf8;
    height: 100vh;
    width: 20%;
    border-right: 0.5px solid #000000;
}

.mainColumn{
    margin-left: 20%;
    width: 80%;
    padding: 0 2%;
    background-image: url(../src/images/background.png);
    background-repeat: repeat;
}

.content{
    display: flex;
}

.top_header{
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.5px solid #000000;
}

.text{
    padding-left: 2rem;
    margin-top: 2rem;
}

.leftbox{
    width: 300px;
    padding-bottom: 2rem;
}

.rightbox{
    width: 100%;
    padding-left: 1rem;
}

.info_text{
    padding: 1rem;
    text-indent: 5em;
}
.info_block{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.5px solid #000000;
}
.cat{
    font-weight: bold;
}
.text_works{
    padding-left: 2rem;
}
@media screen and (max-width: 700px) {
	.content{
        flex-direction: column;
    }
}