.sidebar > ul{
    margin-left: 1rem;
    margin-top: 1rem;
}
.sideLink::marker {
    font-size: 2rem;
    line-height: 5rem;
}

.sideLink{
    position: relative;
}

.sideLink a {
    position: absolute;
    top: 1.6rem;
    left: -0.7rem;
}

.sideLinkTop{
    color: #fbc4ae;
}

.sideLinkProfile{
    color: #66df4b;
}
.sideLinkWorks{
    color: aqua;
}
.sideLinkLinks{
    color: #3389d4;
}
.sideLinkReference{
    color: #0000FF;
}